
<%= form_tag search_index_path, method: "get"  do |f| %>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
        <%= label_tag :id %>
        <%= text_area_tag :id  %>

        <%= label_tag :name %>
        <%= text_area_tag :name %>

        <%= submit_tag :search, class: 'button' %>
      </div>
    </div>
  </div>
<% end %>

<ul class="list-group">
  <% @notes.each do |note| %>
    <li class="list-group-item">
      <i class="fa fa-sticky-note"></i>
      <%= link_to note.permalink, note.permalink %>
    </li>
  <% end %>
</ul>
