<div class="cell small-9 main-column">
  <div class="card">
    <div class="card-divider">
      Folders and Files
    </div>
    <div class="card-section">
      <ul class="list-group">
        <% unless folder_service.folder.root? %>
          <li class="list-group-item">
            <i class="fa fa-folder"></i>
            <%= link_to '..', folder_service.folder.parent.permalink %>
          </li>
        <% end %>


        <% folder_service.folders.each do |folder| %>
          <li class="list-group-item">
            <i class="fa fa-folder"></i>
            <%= link_to folder.name, folder.permalink %>
          </li>
        <% end %>

        <% folder_service.notes.each do |note| %>
          <li class="list-group-item">
            <i class="fa fa-sticky-note"></i>
            <%= link_to note.name, note.permalink %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
