<div class="card">
  <div class="card-divider">
    Create new folder
  </div>
  <%= form_for Folder.new(parent: parent_folder) do |f| %>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.hidden_field :parent_id %>

          <%= f.submit :save, class: 'button' %>
        </div>
      </div>
    </div>

  <% end %>
</div>
