<div class="cell small-9 main-column">
  <div class="card">
    <div class="card-divider">
      New Note
    </div>
    <div class="card-section">
      <%= form_for Note.new(folder: parent_folder) do |f| %>
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-12 cell">
              <%= f.label :name %>
              <%= f.text_field :name %>

              <%= f.label :body %>
              <%= f.text_area :body %>

              <%= f.hidden_field :folder_id %>

              <%= f.submit :save, class: 'button' %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
