<div class="cell small-9 main-column">
  <div class="card">
    <div class="card-divider">
      <p><%= note.body %></p>
    </div>
    <div class="card-section">
      <h5><%= note.name %></h5>
    </div>
  </div>
</div>
