<div class="cell small-9 main-column">
  <div class="card">
    <div class="card-divider">
      Search note
    </div>
    <div class="card-section">
      <%= form_tag search_index_path, method: "get"  do |f| %>

        <%= hidden_field_tag :id, folder&.id || Folder.root.id  %>

        <%= label_tag :search %>
        <%= text_area_tag :name %>

        <%= submit_tag :search, class: 'button' %>

      <% end %>
    </div>
  </div>
</div>
