<div class="grid-x grid-padding-x main-grid">
  <div class="cell small-3 main-column">


    <%= render 'folders/entries', folder_service: @folder_service %>
    <%= render 'folders/folder_form', parent_folder: @folder_service.folder %>
    <%= render 'folders/search', folder: @folder_service.folder %>
  </div>
  <% if @folder_service.folder_path? %>
    <%= render 'folders/note_form', parent_folder: @folder_service.folder %>
  <% else %>
    <%= render 'folders/note', note: @folder_service.note %>
  <% end %>
</div>
